* {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  font-family: sans-serif;
  font-size: 13px;
}

body {
  margin: 0;
  background-color: #eee;
}

select {
  border: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

.types {
  top: 0;
  left: 0;
  bottom: 0;
  width: 120px;
  height: 100%;
  position: absolute;
  border-right: 1px solid #888;
  background-color: #ddd;
  overflow: auto;
}

.types * {
  display: block;
}

.types button {
  width: 100%;
  padding: 1px;
  border: none;
  outline: none;
  margin-top: -20px;
  background-color: #ccc;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.sidenav {
  width: 100%;
  padding-bottom: 20px;
  border-top: 1px solid #888;
}

.sidenav button {
  margin: 0;
  border: none;
  text-align: left;
  background-color: #ddd;
}

.types button:hover, table button:hover, table .selected button:hover {
  color: #000;
  background-color: #bbb;
}

.types button:active, table button:active {
  background-color: #999;
}

.sidenav button:hover {
  background-color: #ccc;
}

button.selected, button.selected:hover, tr.selected, table .selected button {
  color: #fff;
  background-color: #45d;
}

.table {
  height: 100%;
  overflow: auto;
  padding-left: 120px;
}

table {
  width: 100%;
  background-color: #ddd;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #888;
}

th {
  font-size: 14px;
  font-weight: normal;
  background-color: #ccc;
}

td {
  text-align: right;
  padding: 1px;
}

table input, table select, table button {
  width: 100%;
  border: none;
  outline: none;
  border-width: 0;
  box-sizing: border-box;
  background-color: #eee;
}

table input {
  text-align: right;
}

table button {
  padding: 0;
  color: #000;
  font-weight: bold;
}

.delete button {
  width: 20px;
  border-radius: 20px;
  background-color: #ddd;
}
