* {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
}

body {
  margin: 0;
}

.types {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
}

.types * {
  display: block;
}

.table {
  margin: 0;
  padding-left: 120px;
  height: 100%;
  overflow: auto;
}

.table th {
  width: 0;
  background-color: #ddd;
}

.table tr.selected {
  background-color: #9ad;
}

.table span {
  min-width: 2em;
  width: 100%;
  display: inline-block;
  resize: horizontal;
}

.table input {
  box-sizing: border-box;
  width: 100%;
}
